@import url('./Constants.css');

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  margin: var(--outer-margin);
  overflow-x: hidden;
  max-width: calc(100vw - var(--outer-margin) * 2);
  min-height: calc(100vh - var(--outer-margin) * 2);
  color: var(--text-color-primary);
  font-family: var(--font-primary);
}

.Navigation {
  z-index: 2;
  position: fixed;
  background-color: var(--white-mostly-transparent);
  padding: var(--padding-large);
  width: var(--nav-collapsed-width);
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: var(--radius-round);
  outline: var(--outline-white-very-transparent);
  transition: var(--transition-quick);
  backdrop-filter: var(--filter-bg-blur);
  -webkit-backdrop-filter: var(--filter-bg-blur);
  display: inline-flex;
  white-space: nowrap;
  scrollbar-width: none;

  .NavItem:not(:first-child) {
    margin-left: var(--margin-large);
  }
    
  .NavLink {
    color: inherit;
    text-decoration: none;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.2s ease transform;

    &:first-of-type {
      margin-left: calc(var(--margin-large) * 2);
    }

    &.active, &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-line: underline;
      text-underline-offset: 8px;
    }

    &.active {
      font-weight: bold;
    }
    
    &:hover {
      transform: scale(1.15);
    }
  }
  
  .Logo {
    border-radius: var(--radius-circle);
    height: var(--img-size-small);
  }

  .NavToggle {
    background: none;
    border: none;
    height: var(--img-size-small);
    width: var(--img-size-small);
    cursor: pointer;
    transition: var(--transition-quick);

    .NavClose {
      display: none;
    }

    &:hover {
      filter: brightness(80%);
    }
  }

  .NavToggle img {
    height: var(--img-size-small);
    object-fit: contain;
  }

  &:not(.Collapsed) {
    width: calc(100% - (var(--outer-margin) * 2) - (var(--padding-large) * 2));

    .NavToggle  {
      .NavOpen {
        display: none;
      }

      .NavClose {
        display: block;
      }
    }
  }
}

main {
  position: absolute; /* This is required to ensure page animations don't interfere with one another */
  top: calc(var(--content-nav-gap) + var(--outer-margin));
  left: var(--outer-margin);
  width: calc(100% - (var(--outer-margin) * 2));
}