@import url('../css/Constants.css');

.Card {
  background-color: var(--white-mostly-transparent);
  padding: var(--padding-large);
  border-radius: var(--radius-smooth);
  outline: var(--outline-white-very-transparent);
  backdrop-filter: var(--filter-bg-blur);
  -webkit-backdrop-filter: var(--filter-bg-blur);
  color: inherit;
  font-family: inherit;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  .Image {
    max-width: 100%;
    object-fit: contain;
  }

  .Header {

  }

  .Body {

  }
}